/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Spacebrew custom styles
   ========================================================================== */

@font-face {
    font-family: DIN;
    src: url(../fonts/DIN/DINPro-Regular.otf);
    font-weight: normal;
}
@font-face {
    font-family: DIN;
    src: url(../fonts/DIN/DINPro-Bold.otf);
    font-weight: bold;
}

html, body {
    font-family: DIN, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Max size */
    font-size: 20px; 
}

@media screen and (max-width: 25em) {

    html, body {
        /* Max size */
        font-size: 10px; 
    }
}
@media screen and (max-width: 50em) {

    html, body {
        /* Max size */
        font-size: 16px; 
    }
}
@media screen and (min-width: 64em) {

    html, body {
        /* Max size */
        font-size: 20px; 
    }
}

/* UTILS */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
  cursor: pointer;
}

/* Main divs */
#container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: table;
    font-size: .75rem;
}

#sidebar {
    position: absolute;
    width:20%;
    height: 100%;
    min-width: 100px;
    background-color: #C1FBF0;
    display: table-cell;
    z-index: 1;
}

#pubsub {
    width: 76%;
    padding: 2%;
    height: 100%;
    display: table-cell;
    position: absolute;
    left: 20%;
    z-index: 1;
}

#canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

/* Section: Container */

/* Section: Pubsub */
#pubsubContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

#title {
    width: 100%;
    display: table;
    padding-bottom: 2%;
    font-size: 1rem;
}

.titleText {
    text-align: left;
}

.app {
    width: 100%;
    display: table;
    padding-bottom: 2%;
    padding: 1%;
    box-sizing: border-box;
    -webkit-transition: background-color ease-in-out .25s;
    transition: background-color ease-in-out .25s;
}

.odd {
    background: #F5F5F5;
}

.app:hover {
    background: #FAFCCC;
}

.cell {
    display: table-cell;
    width: 33%;
}

.middleCell {
    text-align: right;
    padding-right: 4%;
}

.rightCell {
    padding-left: 4%;
}

#titleClients {
}

#titlePub {
}

#titleSub {
}

.appName {
    font-weight: bold;
}
.appRA {
    font-weight: normal;
    font-size:.6rem;
}

.appDesc {
    visibility: hidden;
    display: none;
}

.appDBtn {
    border: 1px solid #000;
    border-radius: 50%;
    height: .7rem;
    width: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .6rem;
    font-weight: bold;
    margin-top: .3rem;
}

.routed {
    background: blue;
}

.notrouted {
    background: grey;
}

.endClosed {
    border: 0.35rem solid #000;
    border-radius: 50%;
    height: .2rem;
    width: .2rem;
    left: .5rem;
    position: relative;
    background: white;
}

.endOpen {
    border: .15rem solid #000;
    border-radius: 50%;
    height: .5rem;
    width: .5rem;
    left: .5rem;
    position: relative;
    background: white;
}

.subscribe .endClosed, .subscribe .endOpen {
    left: -.5rem;
}

.publish, .subscribe {
    margin-bottom: .2rem;
    transition: background-color ease-out .1s;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.subscribe {
    justify-content: flex-start;
}

.marker {
    background-color: lightgrey;
    width: .1%;
    height: 100%;
    float: left;
}

/* Could this by dynamic from Ang */
.rangeRoutedL {
    background: linear-gradient(90deg, #F3B03E 1%, #C1FBF0 1%);
}

.booleanRoutedL {
    background: linear-gradient(90deg, #B526F0 1%, #C1FBF0 1% );
}

.stringRoutedL {
    background: linear-gradient(90deg, #B526F0 1%, #C1FBF0 1% );
}

.rangeNotRoutedL {
    background: linear-gradient(90deg, #F3B03E 1%, #DEDFE1 1% );
}

.booleanNotRoutedL {
    background: linear-gradient(90deg, #B526F0 1%, #DEDFE1 1% );
}

.stringNotRoutedL {
    background: linear-gradient(90deg, #B526F0 1%, #DEDFE1 1% );
}

.rangeRoutedR {
    background: linear-gradient(90deg, #C1FBF0 99%, #F3B03E 1%);
}

.booleanRoutedR {
    background: linear-gradient(90deg, #C1FBF0 99%, #B526F0 1%);
}

.stringRoutedR {
    background: linear-gradient(90deg, #C1FBF0 99%, #B526F0 1%);
}

.rangeNotRoutedR {
    background: linear-gradient(90deg, #DEDFE1 99%, #F3B03E 1%);
}

.booleanNotRoutedR {
    background: linear-gradient(90deg, #DEDFE1 99%, #B526F0 1%);
}

.stringNotRoutedR {
    background: linear-gradient(90deg, #DEDFE1 99%, #B526F0 1%);
}

/* ROUTING */
.routingL {
    color: white;
    width: 110%;
    left: -14%;
    position: relative;
}

.rangeRoutedL.routingL, .rangeRoutedR.routingR  {
    background: #F3B03E; 
}

.booleanRoutedL.routingL, .booleanRoutedR.routingR {
    background: #B526F0; 
}

.stringRoutedL.routingL, .stringRoutedR.routingR {
    background: #B526F0; 
}

.customRoutedL.routingL, .customRoutedR.routingR {
    background: #CCC; 
}

.routingR {
    color: white;
    width: 110%;
    /* left: 14%; */
    position: relative;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
