<div class="cell">
	{{value.name}}<br>{{value.remoteAddress}}
</div>
<div class="cell middleCell">
	<div ng-repeat="message in value.publish.messages" class="publish {{message.type}}{{message.routes.length > 0 ? 'Routed' : 'NotRouted'}}L" id="pub_{{value.name}}_{{message.name}}" ng-click="selectRouter(true, value.name, value.remoteAddress, message.name, message.type, 'pub_' + value.name+'_'+message.name)">
	{{message.name}}
	</div>
</div>
<div class="cell rightCell">
	<div ng-repeat="message in value.subscribe.messages" class="subscribe {{message.type}}{{message.routes.length > 0 ? 'Routed' : 'NotRouted'}}R" id="sub_{{value.name}}_{{message.name}}" ng-click="selectRouter(false, value.name, value.remoteAddress, message.name, message.type, 'sub_' + value.name+'_'+message.name)">
	{{message.name}}
	</div>
</div>